MONGODB_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here

PORT=5000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=your_password

ADMIN_API_KEY=your_admin_key
